<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for( 'static' , filename='style.css') }}"
    <title>Resume-Matcher</title>
</head>
<body>
        <div class="header">
        <div class="logo-wrapper">
        <h1 class="logo">Ana - Resume Analyzer</h1>
        </div>
         <nav class="nav">
            <ul class="nav-list">
                <li><a href="/">Analyze Resume</a></li>
                <li><a href="/enhance">Enhance Resume</a></li>
                <li><a href="/matcher">Resume Matcher</a></li>
            </ul>
        </nav>
        <button>Login</button>
    </div>

    <div class="matcher-container enhance-page-container">
            <div class="mathcer-upload enhance-container">
                        <form action="/match_resume" method="POST" enctype="multipart/form-data">
                        <div class="form-group matcher-group-form">
                            <label for="resume">Paste the job description:</label>
                            <textarea  id="desc" name="desc" placeholder="Paste job description here" required></textarea>
                            <label for="resume">Upload your resume (PDF):</label>
                            <input type="file" id="resume" name="resume" accept=".pdf" required>
                        </div>
                        <button type="submit">Check what match</button>
                    </form>
            </div>
            <div class="mathcer-result result-container">
                                                {% if error %}
                                <div class="error">
                                    <strong>Error:</strong> {{ error }}
                                </div>
                                {% endif %}
                                {% if score %}
                                <div class="result">
                                    <h3>Result:</h3>
                                    <p>What's matching: {{ match }}</p>
                                    <p>What's missing: {{ missing}}</p>
                                    <p>Overall Score: {{ score }}</p>
                                </div>
                                {% else %}
                                <div class="preview-result">
                                    <h3>The result will show here...</h3>
                                    
                                </div>
                                {% endif %}

            </div>

    </div>


</body>
</html>